*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid red;
  background-color: rgb(251, 175, 167);
}

.d-flex{
  display: flex;
}

.violet{
  background-color: rgb(164, 81, 164);
  margin-top: 40px;
  padding-bottom: 40px;
}

.dark{
  background-color: rgb(29, 29, 29);
  height: 200px;
  color: white;
}
.altezza-visiva{
  height: 600px;
}


/* stili generali dei vari componenti */

header{
  max-width: 768px;
  height: 100px;
  margin: 0 auto;
  
  
}

.top-bar{
  justify-content: space-between;
}

.container , .top-bar{
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
}

section{
  width: 100%;
  max-width: 768px;
}

.box-big{
  height: 1000px;
  margin-top: 40px;
  border-radius: 30px;
}

.box-small{
  height: 500px;
  border-radius: 30px;
  margin-top: 20px;
}

.card{
  height: 800px;
  margin-top: 40px;
  border-radius: 30px;
}